:root {
    --primary-color: #E55556;
    --paragraph-color:rgba(0, 0, 0 , 0.8);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    height: 5000px;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
section {
    padding-top: 50px;
}
.container {
    width: 85%;
    margin: auto;
}