/* 350 */
@media (max-width: 992px) {
    section {
        padding-top: 20px;
    }

    .container {
        width: 95%;
    }

    .title h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    /* header section */
    header nav {
        padding: 10px 25px;
    }

    header nav h2 {
        font-size: 25px;
    }


    header nav ul {
        background-color: #000;
        position: absolute;
        flex-direction: column;
        height: 0;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        align-items: center;
        padding: 0;
        overflow: hidden;
        border-radius: 10px;
        gap: 25px;
        z-index: 999;
        transition-duration: .5s;
    }

    header nav ul li:last-child {
        margin: 0;
    }


    header nav .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 35px;
        width: 40px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
    }

    header nav .menu:focus+ul {
        height: 300px;
        padding-block: 25px;
    }

    header nav .menu span {
        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    header .container .content h1 {
        font-size: 30px;
    }

    header .container .content h3 {
        font-size: 25px;
    }

    header .container .content button {
        padding: 10px;
        font-size: 14px;
    }

    /* About section */

    #About .container {
        flex-direction: column;
    }

    #About .container .content {
        width: 100%;
    }

    #About .container .content h2 {
        font-size: 28px;
    }

    #About .container .image {
        width: 100%;
    }

    /* Services Section */

    #Services .container .box {
        flex-direction: column-reverse;
    }

    #Services .container .box-2 {
        flex-direction: column;
    }

    #Services .container .box .content {
        width: 100%;
    }

    #Services .container .box .content h3 {
        font-size: 22px;
    }

    #Services .container .box .logo {
        width: 100%;
    }

    #Services .container .box .logo .icon {
        padding: 20px;
    }

    #Services .container .box:not(:last-child) {
        margin-bottom: 25px;
    }

    /* Clients Section */

    #Clients .container {
        flex-direction: column;
        padding: 0;
    }

    #Clients .container .client {
        width: 100%;
    }

    #Clients .container .client:first-child {
        margin-bottom: 25px;
    }

    #Clients .container .client h4 {
        font-size: 20px;
    }

    /* Our Trainers section */
    #Trainers .container {
        padding-block: 0px;
    }

    #Trainers .container .card {
        width: 100%;
    }

    #Trainers .container .card:not(:last-child) {
        margin-bottom: 40px;
    }

    #Trainers .container .card .item {
        width: 240px;
    }

    /* Our Gallery section */
    #Gallery .container .images {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 300px);
        margin: auto;
    }

    /* Contact Us section */

    #Contact .container .content {
        flex-direction: column;
    }

    #Contact .container .content .num-card:not(:last-child) {
        margin-bottom: 25px;
    }

    #Contact .app-form form .input-row {
        flex-direction: column;
    }

    #Contact .app-form form .input-row input {
        width: 100%;
    }

    #Contact .app-form form .input-row input:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* 450 */
@media (min-width: 371px) and (max-width: 1300px) {
    /* header section */

    header nav h2 {
        font-size: 30px;
    }

    header .container .content h1 {
        font-size: 40px;
    }

    header .container .content h3 {
        font-size: 35px;
    }

    header .container .content button {
        padding: 15px;
        font-size: 16px;
    }

    /* Services Section */
    #Services .container .box .content {
        width: 300px;
        margin: auto;
    }

    /* Clients Section */

    #Clients .container .client {
        width: 320px;
        margin: auto;
    }
}

/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {
    .container {
        width: 80%;
    }

    .title h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    /* header section */

    header nav h2 {
        font-size: 40px;
    }

    /* About section */
    #About .container .content h2 {
        font-size: 32px;
    }
}

/* 850 */
@media (min-width: 769px) and (max-width: 1300px) {
    /* About section */

    #About .container {
        flex-direction: row;
    }

    #About .container .content {
        width: 50%;
    }

    #About .container .content h2 {
        font-size: 35px;
    }

    #About .container .image {
        width: 50%;
    }

    /* Services Section */
    #Services .container .box {
        flex-direction: row;
        padding: 10px;
    }

    #Services .container .box:not(:last-child) {
        margin-bottom: 0px;
    }

    #Services .container .box .content {
        width: 65%;
    }

    #Services .container .box .logo {
        width: 35%;
    }


    /* Clients Section */

    #Clients .container {
        flex-direction: row;
        padding: 15;
    }

    #Clients .container .client {
        width: 45%;
    }

    #Clients .container .client:first-child {
        margin-bottom: 0px;
    }

    #Clients .container .client h4 {
        font-size: 20px;
    }

    /* Our Trainers section */
    #Trainers .container {
        padding-block: 10px;
    }

    #Trainers .container .card {
        width: 50%;
    }

    /* Our Gallery section */
    #Gallery .container .images {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
    }

    /* Contact Us section */

    #Contact .container .content {
        flex-direction: row;
    }

    #Contact .container .content .num-card:not(:last-child) {
        margin-bottom: 0px;
    }

    #Contact .app-form form{
        width: 90%;
    }

    #Contact .app-form form .input-row {
        flex-direction: row;
    }

    #Contact .app-form form .input-row input {
        width: 30%;
    }

    #Contact .app-form form .input-row input:not(:last-child) {
        margin-bottom: 0px;
    }

}

/* 1050 */
@media (min-width: 992px) and (max-width: 1300px) {

    /* Our Trainers section */
    #Trainers .container {
        padding-block: 10px;
    }

    #Trainers .container .card {
        width: 25%;
    }

    #Trainers .container .card .item {
        width: 90%;
    }

    #Trainers .container .card .item .image {
        width: 120px;
        height: 120px;
    }

}

/* 1250 */
@media (min-width: 1181px) and (max-width: 1300px) {}